<section>
    <h1 educationTarget>Education</h1>
    <div class="container">
        <a target="_blank" href="https://www.unl.edu/">
            <div class="card">
                <div class="content">
                    <header>
                        <h2>University of Nebraska-Lincoln</h2>
                        <span>Bachelor's in Software Engineering</span>
                    </header>
                </div>
            </div>
        </a>

        <a target="_blank" href="https://www.mccneb.edu/">
            <div class="card">
                <div class="content">
                    <header>
                        <h2>Metropolitan Community College</h2>
                        <span>IT Jumpstart Academy</span>
                    </header>
                </div>
            </div>
        </a>
    </div>
</section>
