<section class="experience">
    <h1>Experience</h1>
    <div class="experience-container">
        <div class="card">
            <h2>Placeholder</h2>
            <h3>Intern</h3>
            <p>1-2yrs</p>
        </div>

        <div class="card">
            <h2>Placeholder</h2>
            <h3>Intern</h3>
            <p>1-2yrs</p>
        </div>

        <div class="card">
            <h2>Placeholder</h2>
            <h3>Intern</h3>
            <p>1-2yrs</p>
        </div>

        <div class="card">
            <h2>Placeholder</h2>
            <h3>Intern</h3>
            <p>1-2yrs</p>
        </div>
    </div>
</section>