<section class="projects">
    <h1>Projects</h1>
    <div class="project-container">

        <div class="project left-content">

          <div class="project-content">
            <div>UNMC Senior Design Project</div>
            <h2>360 Virtual Consultation Platform</h2>
            <div class="project-details">
              <p>Lorem ipsum dolor amet you probably haven't heard of them bitters selvage listicle heirloom. Locavore kombucha street art ennui 90's, organic food truck hell of seitan skateboard literally hexagon fixie next level. Lomo salvia yuccie hella roof party echo park vegan four dollar toast cred.</p>
              <ul>
                <li>Angular</li>
                <li>AWS</li>
                <li>SQL</li>
              </ul>
            </div>
          </div>
          
          <div class="project-img">
            <img src="../../assets/Main-Screen-JPEG.jpg" alt="" />
          </div>
          
        </div>
        
        <div class="project right-content">

          <div class="project-content">
            <div>PLACEHOLDER</div>
            <h2>placeholder</h2>
            <div class="project-details">
              <p>Lorem ipsum dolor amet you probably haven't heard of them bitters selvage listicle heirloom. Locavore kombucha street art ennui 90's, organic food truck hell of seitan skateboard literally hexagon fixie next level. Lomo salvia yuccie hella roof party echo park vegan four dollar toast cred.</p>
              <ul>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
              </ul>
            </div>
          </div>
          
          <div class="project-img">
            <img src="../../assets/Main-Screen-JPEG.jpg" alt="" />
          </div>
          
        </div>
      </div>
</section>